body {
  margin: 0;
  text-align: center;
  font-family: 'Playfair Display', serif;
}
div {
  padding: 90px;
  background-color: #eeecda;
  position: relative;
}
h1{
  font-family: 'Merienda', cursive;
}
h2{
  font-family: 'Lobster', cursive;
}
h3{
  font-family: 'Bad Script', cursive;
}
.c1 {
  position: absolute;
  left: 1080px;
  top: 50px;
}
.c2 {
  position: absolute;
  bottom: 400px;
}
/*
font-family: 'Bad Script', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Merienda', cursive;
font-family: 'Playfair Display', serif;
*/
